@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.container-header {
    z-index: 100;
    width: 100%;
}

body {
    background-color: #f5f9ff;
    color: #173b45;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 20px;
    text-align: center;
    color: #173b45;
}

.carrello-container {
    display: flex;
    justify-content: space-between;
}

.articoli {
    flex: 2;
}

.riepilogo {
    flex: 1;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.product-image {
    flex: 1;
    overflow: hidden;
    height: 200px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    flex: 2;
    padding-left: 20px;
    justify-content: center;
    margin: 0 auto;
}

.product-details h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    color: #173b45;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #b43f3f;
    margin-bottom: 10px;
}

.product-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.action-button{
	all: unset;
	display: inline-block;
}

.action-button span {
	border: none;
	border-radius: 50%;
	padding: 12px;
	color: #f8eded;
	background-color: #b43f3f;
	cursor: pointer;
	font-size: 20px;
}

.action-button span:hover {
  background-color: #620b01;
  transform: translateY(-2px);
}

.action-button span:active {
  background-color: #c87872;
  transform: translateY(0);
}  


.delete-button button{
	all: unset;
	display: inline-block;
}

.delete-button span {
	border: none;
	border-radius: 50%;
	padding: 12px;
	color: #f8eded;
	background-color: #b43f3f;
	cursor: pointer;
	font-size: 20px;
}

.delete-button span:hover {
    background-color: #620b01;
    transform: translateY(-2px);
}

.delete-button span:active {
    background-color: #c87872;
    transform: translateY(0);
}


.container-button {
    width: 100%;
}

.container-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #173b45;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}


.container-button button:hover {
    background-color: #6295a3;
    transform: translateY(-2px); 
}

.container-button button:active {
    background-color: #5a8d9e;
    transform: translateY(0);
}

.empty-cart-message {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.container-footer {
    width: 100%;
    padding: 20px;
    background-color: #173b45;
}


input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #173b45;
    border-radius: 5px;
    background-color: #ffffff;
    color: #173b45;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

input[type="number"]:focus {
    border-color: #173bbb;
    outline: none;
}

input[type="number"]:disabled {
    background-color: #f0f0f0;
    border-color: #cccccc;
    color: #999999;
}

@media (max-width: 1024px) {
    .carrello-container {
        flex-direction: column;
    }

    .articoli,
    .riepilogo {
        width: 100%;
    }
}

