@charset "UTF-8";
/* Importa le icone di Material Design */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
	background-color: #f8eded;
	color: #173b45;
}

h1 {
	text-align: center;
	padding: 30px;
}

.product-table {
	width: 95%;
	border-collapse: collapse;
	margin: 20px;
	padding: 20px;
}

.product-table th, .product-table td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

.product-table th {
	background-color: #b43f3f;
	color: #ffffff;
}

.product-table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

.action-button {
	all: unset;
	display: inline-block;
}

.carrello-form {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.carrello-form select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

input[type="number"] {
	width: 50px;
	padding: 5px;
	margin: 5px;
	border: 2px solid #173b45;
	border-radius: 5px;
	background-color: #ffffff;
	color: #173b45;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
}

input[type="number"]:focus {
	border-color: #173bbb;
	outline: none;
}

input[type="number"]:disabled {
	background-color: #f0f0f0;
	border-color: #cccccc;
	color: #999999;
}

.button-container {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.action-button span {
	border: none;
	border-radius: 50%;
	padding: 12px;
	color: #f8eded;
	background-color: #b43f3f;
	cursor: pointer;
	font-size: 20px;
}

.action-button span:hover {
	transform: scale(1.1);
}

.form {
	background-color: #f8dddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
	width: 50%;
	max-width: 800px;
	margin: 20px auto;
	font-family: Arial, sans-serif;
}

.form-content h2 {
	text-align: center;
	color: #b43f3f;
	margin-bottom: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 10px 0;
}

.form-group label {
	font-weight: bold;
	color: #173b45;
	margin-bottom: 5px;
}

.form-group input, .form-content textarea {
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 10px;
}

#descrizione {
	height: 100px;
}

.form-content button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 20px;
	background-color: #b43f3f;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	width: 100%;
}

.form-content button:hover {
	background-color: #922c2c;
}

.preview-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

#preview {
	display: none;
	max-width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container-footer {
    margin-top: auto;
    background-color: #173b45;
}
/* ----------------------------- */
/*        RESPONSIVE TABLE      */
/* ----------------------------- */
/* @media (max-width: 2000px) {
	.product-table thead {
		display: none;
	}

	.product-table tr {
		display: block;
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 10px;
		padding: 15px;
	}

	.product-table td {
		display: block;
		text-align: right;
		position: relative;
		padding-left: 50%;
		border: none;
		border-bottom: 1px solid #eee;
	}

	.product-table td::before {
		content: attr(data-label);
		position: absolute;
		left: 10px;
		width: 45%;
		font-weight: bold;
		text-align: left;
		white-space: nowrap;
	}

	.carrello-form {
		flex-direction: row;
		align-items: flex-start;
	}
	
	.form {
		width: 90%;
	}
} */
