@charset "UTF-8";

body {
    background-color: #f5f9ff;
    font-family: 'Montserrat', Sans-serif;
    margin: 0;
    padding: 0;
    color: #173b45;
}

.container {
    margin: 40px auto;
    background-color: #fff;
    width: 70%;
    padding: 30px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

img {
    max-width: 350px;
    height: auto;
    border-radius: 16px;
}

.text {
    max-width: 500px;
    text-align: left;
}

.text h1 {
    color: #b43f3f;
    margin-bottom: 15px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

input[type="number"],
select {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', Sans-serif;
}

input[type="submit"] {
    background-color: #b43f3f;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #620b01;
    cursor: pointer;
    transform: translateY(-2px);
}

input[type="submit"]:active {
    background-color: #c87872;
    transform: translateY(0);
}

input::placeholder {
    font-family: 'Montserrat', Sans-serif;
}
.prezzo {
    font-size: 18px;
    color: #173b45;
    margin-top: 10px;
    background-color: #d8f1fa;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-footer {
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    background-color: #173b45;
    color: white;
    text-align: center;
}
