@charset "UTF-8";

.container-header,
.container-footer {
  width: 100%;
}

/* Inizio Banner*/
 
 .banner-container {
    width: 100%; /* Larghezza a schermo intero */
    height: 50vh; /* Altezza impostata al 40% della finestra */
    /* overflow: hidden; */
    position: relative;
    z-index: 1;
}

.banner-content {
    display: flex;
    transition: transform 1s ease; /* Transizione per il movimento */
    height: 100%; 
}

.slider-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: none; /* Nascondi tutte le immagini di default */
}

.slider-image.active {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(23, 59, 69, 0.5);
    font-size: 24px; /* Un po' più piccola per centratura ottica */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1; /* Evita che il font abbia altezza extra */
}



.arrow:hover {
    color: rgba(23,59,69, 1); 
    background-color: rgba(255, 255, 255, 1); /* Sfondo semi-trasparente */  
}

.left-arrow {
    left: 10px; 
}

.right-arrow {
    right: 10px; 
}

/* Fine banner */

.container-footer{
	margin-top: 100px;
    width: 100%;
    padding: 20px;
    background-color: #173b45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #f9f9f9, #eaf1f3);;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 80px;
  color: #333;
}

#banner{
	width: 100%;
	margin: 0;
}

.frase-container{
	z-index: 9;
	width: 100%;
  	margin: 0;
  	text-align: center;
 	background-color: rgb(180, 63, 63);
  	height: 20%;
}

.box-container {
  width: 100%;
  margin: 0;
  text-align: center;
  height: 20%;
}

.box-content {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.categoria-container{
	margin-top: 20px;
	margin-bottom: 20px;
}

.categoria-content{
	align-items: center;
	padding-top: 20px;
	padding-left: 20px;	
	padding-right: 20px;
}

.btn{
	display: inline-block;
  padding: 20px 40px;
  background-color: #B43F3F;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 36px;
}

.btn:hover{
	background-color: #620b01;
}

.btn:active{
	background-color: #c87872;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.1px; /* spazio tra immagine e testo */
  margin-bottom: 15px; /* spazio tra le righe */
  justify-content: space-between;
}

.item img {
  width: 20%; /* o la dimensione che preferisci */
  height: auto;
   margin-right: 50px;
  margin-left: 50px;
}

.item span {
  width: 40%;
  font-size: 28px;
  font-weight: 500;
  margin-right: 50px;
  margin-left: 50px;
}

@media(max-width: 850px){
	.item span{
		font-size: 24px;
	}
}

@media(max-width: 550px){
	.item span{
		font-size: 14px;
	}
}