@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")
	;

.container-header {
	z-index: 100;
	width: 100%;
}

body {
	background-color: #f5f9ff;
	color: #173b45;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	/* height: 100%; */
}


h2 {
	margin-top: 20px;
	text-align: center;
	color: #173b45;
}


.container-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px;
    gap: 5%;
}

.container-button button {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #173b45;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.container-button button:hover {
    background-color: #6295a3;
}

.container-footer {
	margin-top: 700px;
	width: 100%;
	padding: 20px;
	background-color: #173b45;
}
